<ul>
	<div class="burger">
	{{burger_name}}
	</div>

	{{#unless devoured}}
		<button type="button" class="change-devoured btn btn-danger" data-id="{{id}}">Devour it</button>

		{{!-- <button class="change-devoured" data-id="{{id}}">Devour It</button> --}}
	{{/unless}}

	
	
</ul>